@font-face {
    font-family: "CooperBlack";
    src: url('/assets/fonts/Cooper\ Black\ Regular.ttf')
}
@font-face {
    font-family: "Clarendon";
    src: url('/assets/fonts/Clarendon\ Regular.otf')
}
@font-face {
    font-family: "FranklinGothic";
    src: url('/assets/fonts/Franklin\ Gothic\ Book\ Regular.ttf')
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'FranklinGothic', serif;
    background-color: #fefcf7;
    color: #141b26;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

nav {
    position: absolute;
    top: 3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

nav a { 
    padding: 5px; 
    font-size:  1.5rem;
    color: #e751bf;
}
.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    position: relative;
    padding: 10px;
    scroll-snap-align: center;
}

section h1 {
    font-size: 4rem;
    font-family: 'Clarendon', sans-serif;
    margin-bottom: 10px;
}

.down-arrow {
    font-size: 3rem;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

section p { font-family: 'FranklinGothic', Arial, Helvetica, sans-serif; }

a {
    display: inline-block;
    color: #fefcf7;
    padding-left: 5px;
}

a:hover { cursor: pointer; }

.down-arrow:hover, a:hover, .btn:hover {
    animation: shake 500ms;
    transform: translate3d(0, 0, 0);
}

/* alignment classes */
.center-xy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.display-inline { display: inline-block; }
.padding-top { padding-top: 20px; }
.padding-little { padding-top: 10px; }
.padding-x { width: 50vw; }

.grid {
    display: grid;
    grid-template-columns: 35% auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img {
    display: block;
    margin: 5px;
    height: 50vh; 
}
.small_vid { 
    height: 45vmin;
}
.text-center { text-align: center; }

/* text-colors */
.pink-text { color: #e751bf; }
.blue-text { color: #141b26 !important; }

.badge {
    text-transform: uppercase;
    color: #e751bf;
    font-family: 'FranklinGothic', serif;
    display: inline;
    display: inline-block;
    margin: 3px;
}

.pink-overlap {
    background-color: rgba(254, 252, 247, .4);
    z-index: 1;
    height: 50vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.badge-grey {
    text-transform: uppercase;
    color: #141b26;
    background-color: grey;
    font-family: 'FranklinGothic', serif;
}

.btn { 
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
    color:  white;
    font-size: 1.2rem;
    font-weight: 900;
}

.background-blue {
    background-color: #141b26;
    color: white;
}

.smaller_vid {
    height: 30vh;
    margin: auto;
}

@keyframes shake {
    10%, 50% {
      transform: translate3d(0, 0, 0);
    }
    30%, 70% {
      transform: translate3d(5px, 0, 0);
    }
}

@media only screen and (max-width: 900px) {
    .grid-2 { grid-template-columns: repeat(1, 1fr); }
    .grid-2 div { height: 40vh; }
}

@media only screen and (max-width: 700px) {
    .grid { grid-template-columns: repeat(1, 1fr); }
    .grid-2 { grid-template-columns: repeat(1, 1fr); }

    .grid div { 
        padding-top: 0px;
        margin-top: 0px;
    }
    h1 { font-size: 1rem; }
    p { font-size: 14px; }
    img { height: 40vmin; }
}


@media only screen and (max-width: 400px) {
    .grid-2 { grid-template-columns: repeat(1, 1fr); }
    .grid { grid-template-columns: repeat(1, 1fr); }
    .grid div { 
        padding-top: 0px;
        margin-top: 0px;
    }
    h1 { font-size: 1rem; }
    p { font-size: 14px; }
    img { height: 40vmin; }
    nav { top: 1rem; right: 1rem; }
}